body{
    background-color: #2B332B;
  }
#logo{
  height: 45px;
  width: auto;
}
nav{
    background-color: #374637;
}
#name-logo {
    color: azure;
    font-size: 1.4rem;
  letter-spacing: 1px;
}

#body-nav{
    height: auto;
      padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

#links{
    color: azure;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    
}
#navbarNAV .nav-link{
     color: azure;
      font-weight: 500;
  margin-left: 10px;
  transition: 0.3s;
}
#imgProduto{
  min-width: 100px;
  max-width: 300px;
  height: auto;
  padding: 10px;
}
#container-product{
  justify-content: center;
  border: black;
  background-color: azure;
  padding-top: 20px;
}
#titulos-h3 {
  color: white;
}
.mb-3{
  color: azure;
}


#login{
  background-color: azure;

}

#fixarRodape {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}