
#logo{
  height: 45px;
  width: auto;
}
nav{
    background-color: #374637;
}
#name-logo {
    color: azure;
    font-size: 1.4rem;
  letter-spacing: 1px;
}

#body-nav{
    height: auto;
      padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

#links{
    color: azure;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    
}
#nav-links .nav-links{
     color: azure;
      font-weight: 500;
  margin-left: 10px;
  transition: 0.3s;
}
.product-card{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 200px;
    margin-right: 10px;
}

.scroll-row{
    font-size: 1.2rem;
    overflow-x: auto;
    white-space: nowrap;
}
  


.card-img-top{
    height: 140px;
    object-fit: cover;
}




#container-secao{
    background: #2B332B;
}

#titulos-h3{
    color: white;
}
#card-body{
    background-color: #374637;
    color: azure;
    width: 300px;
    border: 2px solid black;
}
body{
    background-color: antiquewhite;
}
.imgsec{
    width: 100%;
    height: auto;
    
}

.carousel-item { 
    display: flex; 
    justify-content: center; 
    align-items: center;   
}

.carousel-item img {

    min-width: 10%;
    max-width: 30%;

    width: 20%;
    height: auto;
    margin: auto;

}

.card-preco{
    font-weight: bold;
}
