
#logo{
  height: 45px;
  width: auto;
}
nav{
    background-color: #374637;
}
#name-logo {
    color: azure;
    font-size: 1.4rem;
  letter-spacing: 1px;
}

#body-nav{
    height: auto;
      padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

#links{
    color: azure;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    
}
#nav-links .nav-links{
     color: azure;
      font-weight: 500;
  margin-left: 10px;
  transition: 0.3s;
}